.navbar-brand {
  text-align: left;
  font-size: 15px;
}

#wrapper {
  display: flex;
}

.navbar {
  background-color: rgba(66, 66, 66, 0.9);
}

h5 {
  color: rgba(224, 224, 224, 0.9);
  padding: 0;
  margin: 0;
}
