@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body,
#root {
  height: 100%;
}

.item-container {
  display: flex;
}

.form-control {
  margin: 20px 0;
  font-size: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  background: url("./components/res/pizza.jpg");
  font-family: "Roboto", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-nav {
  display: flex;
  padding: 5px;
  margin: auto;
}

.App {
  min-height: 100vh;
}
